<body>
    <div class="data">
    <h1>Bienvenide {{user.nombre}}</h1>
    <ul>Datos registrados de {{user.nombre}}
        <li>Identificacion {{user.identificacion}}</li>
        <li>Direccion {{user.direccion}}</li>
        <li>Ciudad {{user.ciudad}}</li>
        <li>Codigo {{user.codigo}}</li>
        <li>Telefono {{user.telefono}}</li>
        <li>Correo {{user.correo}}</li>
    </ul>
</div>
</body>